{% extends 'base.html' %} 
{% load static %}
{% block title %}<title>Career</title>{% endblock %}
  {% block content %}
  {% block about %}{% endblock %}
    <!--==========================
      Buy Ticket Section
    ============================-->
        <!--==========================
      Role Model Section
    ============================-->
    <section style="margin-top: 20px;" id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h2>Successful Personalities</h2>
          <p>You can get a vague idea of what they have achieved with their Career Choice.</p>
        </div>

        <div class="row">


          <div class="col-lg-4">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/ratan.jpg' %}" alt="Card image cap">
              <div class="card-body">
                  <h6 class="card-price text-center">Ratan Tata</h6>
                <h5 class="card-title text-muted text-uppercase text-center">Ex-Chairman of Tata Group</h5>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Net Worth</strong> <br>1 billion USD</li>
                  <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Bachelor's degree in Science</strong> <br>Cornell University</li>
                  <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Advanced Management Degree</strong> <br>Harvard Business School</li>
                </ul>
                <hr>  
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/sundar.jpg' %}" alt="Card image cap">
              <div class="card-body">
                  <h6 class="card-price text-center">Sundar Pichai</h6>
                <h5 class="card-title text-muted text-uppercase text-center">CEO of Alphabet & Google</h5>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Net Worth</strong> <br>610 million USD</li>
                  <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Bachelor's Degree</strong> <br>IIT Kharagpur</li>
                  <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Master's Degree</strong> <br>Stanford University(M.Sc) , Wharton School(MBA)</li>
                </ul>
                <hr>  
              </div>
            </div>
          </div>

          <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'img/satya.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-price text-center">Satya Nadella</h6>
                  <h5 class="card-title text-muted text-uppercase text-center">CEO of Microsoft</h5>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Net Worth</strong> <br>320 million USD</li>
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Bachelor's Degree</strong> <br>Manipal Institute of Technology</li>
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Master's Degree</strong> <br>University of Wisconsin-Milwaukee</li>
                  </ul>
                  <hr>  
                </div>
              </div>
            </div>


            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'img/virat.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-price text-center">Virat Kohli</h6>
                  <h5 class="card-title text-muted text-uppercase text-center">Captain of Indian Cricket Team</h5>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Net Worth</strong> <br>63 million USD</li>
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>High School</strong> <br>Vishal Bharti Public School</li>
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Achievements</strong> 
                      <br><ul style="padding-left: 10px">
                          <li style="margin-bottom: 0;">Wisden Cricketer of Year(2019)</li>
                          <li style="margin-bottom: 0;">Padmashri (2017)</li>
                          <li style="margin-bottom: 0;">Arjuna Award (2013)</li>
                      </ul></li>
                  </ul>
                  <hr>  
                </div>
              </div>
            </div>


            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'img/bachan.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-price text-center">Amitabh Bachchan</h6>
                  <h5 class="card-title text-muted text-uppercase text-center">Famous Actor</h5>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Net Worth</strong> <br>400 million USD</li>
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>School</strong> <br>Sherwood College</li>
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>College</strong> <br>Kirori Mal College</li>
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Achievements</strong>                         
                      <br><ul style="padding-left: 10px ">
                      <li style="margin-bottom: 0;">Dadasaheb Phalke Award (2019)</li>
                      <li style="margin-bottom: 0;"> Filmfare Award (2010,2006,1992)</li>
                      <li style="margin-bottom: 0;">Padmabhushan (2001)</li>
                  </ul></li></li>

                  </ul>
                  <hr>  
                </div>
              </div>
            </div>


            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'img/mukesh.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-price text-center">Mukesh Ambani</h6>
                  <h5 class="card-title text-muted text-uppercase text-center">Chairman and Mg.Director of Reliance Industries</h5>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Net Worth</strong> <br>5,060 crores USD</li>
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Bachelor's Degree</strong> <br>Institute of Chemical Technology</li>
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Master's Degree</strong> <br>Stanford University(MBA)</li>
                  </ul>
                  <hr>  
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'img/gautam.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-price text-center">Gautam Adani</h6>
                  <h5 class="card-title text-muted text-uppercase text-center">Chairman of Adani Group</h5>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Net Worth</strong> <br>1,190 crores USD</li>
                    <li><span class="fa-li"><i class="fa fa-arrow-right"></i></span><strong>Bachelor's Degree</strong> <br>Gujarat University (Dropped Out)</li>
                  </ul>
                  <hr>  
                </div>
              </div>
            </div>





        </div>  
      </div>

    </section>

  {% endblock %} 