{% extends 'base.html'%}
{% block title %} <title>FAQ</title> {% endblock %} 
{% block content %}
    {% block about %}{% endblock %}
    <!--==========================
      F.A.Q Section
    ============================-->
    <section id="faq" class="wow fadeInUp">

        <div class="container">
  
          <div class="section-header" style="margin-top: 20px;">
            <h2>F.A.Q </h2>
          </div>
  
          <div class="row justify-content-center">
            <div class="col-lg-9">
                <ul id="faq-list">
  
                  <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq1">What are my interests? <i class="fa fa-minus-circle"></i></a>
                    <div id="faq1" class="collapse" data-parent="#faq-list">
                      <p>
                        The activities you enjoy doing in your free time can give you insight into the careers that would be satisfying, fulfilling and fun. To figure out your interests, ask yourself:
                        <ul>
                            <li>What hobbies do I enjoy? </li>
                            <li>Do I prefer spending time indoors or outdoors?</li>
                            <li>Do I enjoy working with people, animals, data or books?</li>
                            <li>What activities would I miss the most if I could no longer do them? </li>
                        </ul>                        
                     </p>
                    </div>
                  </li>
        
                  <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">What are my skills? <i class="fa fa-minus-circle"></i></a>
                    <div id="faq2" class="collapse" data-parent="#faq-list">
                      <p>Right now, you possess skills that can help you succeed in the future. Think about your hard skills and soft skills.
                        <ul>
                            <li>Hard skills - skills you’ve acquired through study, such as culinary arts or computer programming.</li>
                            <li>Soft skills - the people and life skills you possess, including teamwork and time management.</li>
                        </ul>  
                      </p>
                    </div>
                  </li>
        
                  <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">What are my talents and strengths?<i class="fa fa-minus-circle"></i></a>
                    <div id="faq3" class="collapse" data-parent="#faq-list">
                      <p>
                        From the time you were little, you demonstrated talents and strengths that make you unique and can help you succeed in your chosen career.If you don't know your talents and strengths, make a list of everything you’re good at doing. Your family members, friends, teachers, boss and mentors can help you write this list that you will use to narrow down potential careers.</p>
                    </div>
                  </li>
        
                  <li>
                    <a data-toggle="collapse" href="#faq4" class="collapsed">I've been thinking of going to medical school, but now clinical chemistry also sounds appealing. How do I keep my options open? <i class="fa fa-minus-circle"></i></a>
                    <div id="faq4" class="collapse" data-parent="#faq-list">
                      <p>
                        Take courses in science, math, and statistics. Add a few business courses in the event you manage a laboratory or run your own practice. Supplement your academic studies by getting practical experience through internships.</p>
                    </div>
                  </li>
        
                  <li>
                    <a data-toggle="collapse" href="#faq5" class="collapsed">Health care issues are always in the news, no one knows how they will be resolved, and everyone's worried. How do I know this career will still be there for me when I graduate?<i class="fa fa-minus-circle"></i></a>
                    <div id="faq5" class="collapse" data-parent="#faq-list">
                      <p>
                        Sick or healthy, people will always need medical information quickly, easily, cheaply. A new growth area, for example, is the use of "kits" in the home or at the hospital bedside, such as those for pregnancy detection or glucose (diabetes) monitoring. Clinical chemists may educate consumers or consult with physician offices on what the results mean and what the patient (whether ill or healthy) should do next.</p>
                        <p>
                            Other growth areas will appear. For example, the number of consumer groups who have special needs is increasing. These groups will continue to require new and different tests beyond what we provide today. New concerns (such as environmental toxins and the spread of new diseases) will heighten the demand for additional testing. We will always need solutions; we will always need new methods for faster, more accurate, more precise, and more sensitive testing that is also less expensive.
                        </p>
                    </div>
                  </li>
        
                  <li>
                    <a data-toggle="collapse" href="#faq6" class="collapsed">What are my values?<i class="fa fa-minus-circle"></i></a>
                    <div id="faq6" class="collapse" data-parent="#faq-list">
                      <p>
                        Everyone has values or things that are important to them, such as financial security, social justice or work-life balance. These values can help you decide what type of career to pursue. Here instance, consider a career that pays well if you value financial security, and consider a 9-to-5 job if you want to achieve work-life balance.                      </p>
                    </div>
                  </li>

                  <li>
                    <a data-toggle="collapse" href="#faq7" class="collapsed">What education or training do I need?<i class="fa fa-minus-circle"></i></a>
                    <div id="faq7" class="collapse" data-parent="#faq-list">
                      <p>
                        Certain careers require advanced education and financial investment. For example, you may need eight to 12 years of education and training to be a doctor, but you could earn a hospitality management bachelor in four years. Think about the time and money required to pursue a career as you make your decision.                      </p>
                    </div>
                  </li>

                  <li>
                    <a data-toggle="collapse" href="#faq8" class="collapsed">How much money do I want to make?<i class="fa fa-minus-circle"></i></a>
                    <div id="faq8" class="collapse" data-parent="#faq-list">
                    <p>
                        Different careers provide different monetary rewards. Even though salary shouldn’t be the main factor in choosing a career, your paycheck can play a role in your quality of life and where you live. Consider your earning potential as you narrow your career options. 
                    </p>
                    </div>
                  </li>

                  <li>
                    <a data-toggle="collapse" href="#faq9" class="collapsed">Where do you see yourself after ten years or twenty years?<i class="fa fa-minus-circle"></i></a>
                    <div id="faq9" class="collapse" data-parent="#faq-list">
                    <p>
                        This is one of the most important questions you can ask yourself. Where will you be after 10 years? You want to be a CEO of any reputed company or you want to gain experience from different companies and want to setup your own after a specific number of years.                    </p>
                        <p>If you have already found your area of interest, personality type and the place you want to live, then you can make a blueprint of your career for 10 to 20 years ahead.</p>
                        <p>You can even target positions in reputed companies at a very early stage and you can also gain qualification and experience accordingly to become eligible for same.</p>
                        <p>These are some basic and most important questions that most of the career guidance counselors ask a person. Most of the times students are asked to do a little homework before asking questions to a professional career counsellor.</p>
                        <p>You can also write down answers to above career guidance related questions in a diary with all pros and cons. Answering of these career planning questions may take lots of time. But, it will help you to choose correct career path for yourself without spending any penny.</p>
                    </div>
                  </li>

                  
                  <li>
                    <a data-toggle="collapse" href="#faq10" class="collapsed">Where do I want to live?<i class="fa fa-minus-circle"></i></a>
                    <div id="faq10" class="collapse" data-parent="#faq-list">
                    <p>
                        Some jobs are more readily accessible while others can only be performed in certain locations. For example, you will probably need to live in a rural location if you choose to work as a park ranger or farmer, and you may want to live near an urban area if you plan to pursue a finance or fashion career. Plan carefully to ensure you can work where you want to live.</p>
                    </div>
                  </li>


                  <li>
                    <a data-toggle="collapse" href="#faq11" class="collapsed">Why do I want to pursue this career?<i class="fa fa-minus-circle"></i></a>
                    <div id="faq11" class="collapse" data-parent="#faq-list">
                    <p>
                        Always ask yourself why you want to pursue a certain career as you evaluate which choice is right for you. Don’t let the opinions or expectations of others sway your decision. Ultimately, your career choice is solely yours.</p>
                    </div>
                  </li>

                  <li>
                    <a data-toggle="collapse" href="#faq12" class="collapsed">What type of work environment do you prefer?<i class="fa fa-minus-circle"></i></a>
                    <div id="faq12" class="collapse" data-parent="#faq-list">
                    <p>
                        Some people love the corporate culture of big cities; they prefer good working environment. Some other people love to be in business; they do not care about nice working environment or corporate culture much. After discovering about your interest in work, you should try to find your personality type and decide what kind of life you want. Working environment and job satisfaction are directly proportional to each other.</p>
                    </div>
                  </li>

                </ul>
            </div>
          </div>
  
        </div>
  
      </section>
{% endblock %}