{% extends 'base.html' %}
{% load static %}

{% block style%}<link rel="stylesheet" href="{% static 'css/roadmap.css' %}"> 
{% endblock %}
{% block title %}<title>Roadmap</title>{% endblock %}
  {% block content %}
    <section class="intro">
        <div class="container">
          <h1>Career Roadmap &darr;</h1>
        </div>
      </section>
      
      <section class="timeline">
          <ul>
          <li>
            <div>
              <time>SSC</time>
              <a href="#sci">Science</a> <br>
              <a href="#comm">Commerce</a> <br>
              <a href="#art">Arts</a> <br>
            </div>
          </li>
          {% if 'engineer' in key or 'doctor' in key or 'robotics' in key or 'cybersecurity' in key %}
          <li id="sci">
            <div >
              <time >HSC Science</time> 
              <a href="#bsc">Bachelor in Science</a> <br>
              <a href="#be">BE/BTech</a> <br>
              <a href="#mbbs">MBBS</a> <br>
            </div>
          </li>
          {% endif %}
          {% if 'manager' in key or 'accountant' in key %}
          <li id="comm">
            <div>
              <time >HSC Commerce</time>
              <a href="#bcom">BCom</a> <br>
              <a href="#bba">Bachelor of Business Administration</a> <br>
            </div>
          </li>
          {% endif %}
          {% if 'actor' in key or 'law' in key or 'hotelmanagment' in key%}
          <li id="art">
            <div>
              <time >HSC Arts</time>
              <a href="#ba">Bachelor of Arts</a> <br>
              <a href="#llb">Bachelor of Legislative Law</a> <br>
              <a href="">Bachelor in Education</a> <br>
            </div>
          </li>
          {% endif %}
          {% if 'teacher' in key%}
          <li id="bsc">
            <div>
              <time>BSc</time> 
              <a href="#msc">Master in Science</a> <br>
              <a href="#mds">Master of Dental Surgery</a> <br>
              <a href="#md">Doctor of Medicine</a> <br>
              <a href="#mba">Master of Business Adminstration</a>
            </div>
          </li>
          {% endif %}
          {% if 'engineer' in key%}
          <li id="be">
            <div>
              <time>BE / B-Tech</time> 
              <a href="#csit">Computer Science</a> <br>
              <a href="#csit">Information Technology</a> <br>
              <a href="#elex">Electronics</a> <br>
              <a href="#extc">Electronics and Telecomm</a>
            </div>
          </li>
          {% endif %}
          {% if 'doctor' in key%}
          <li id="mbbs">
            <div>
              <time>MBBS </time> 
            </div>
          </li>
          {% endif %}
          {% if 'manager' in key%}
          <li id="bcom">
            <div>
              <time>Bcom</time> 
              <a href="#mba">Master of Business Administration</a> <br>
              <a href="#llb-c">Bachelor of Legislative Law</a> <br>
              <a href="#ca">Chartered Accountant</a> <br>
              <a href="bed-c">B-Ed</a>
            </div>
          </li>
          {% endif %}
          {% if 'manager' in key %}
          <li id="bba">
            <div>
              <time>BBA</time> 
              <a href="">MBA</a>
            </div>
          </li>
          {% endif %}
          {% if 'actor' in key%}
          <li id="ba">
            <div>
              <time>Bacchelor of Arts</time> 
              <a href="#llb-a">Bachelor of Legislative Law</a> <br>
              <a href="#ma">Masters of Art</a> <br>
              <a href="#med-a">M-Ed</a> <br>
              <a href="#mba-a">Master of Business Administration</a>
            </div>
          </li>
          {% endif %}
        </ul>
        
      </section>
      

      <script src="{% static 'js/roadmap.js' %}"></script>
{% block footer %}{% endblock %}      
{% endblock %}
